<h1><span data-i18n="skills.my_skills">Achievements</span></h1>

<div>
    <b>Senior Product Analyst</b>
    <ul>
        <li>
            Leading a dynamic cross-functional development team.
            Coordinating collaborative efforts in order to achieve project milestones and deliver value.
        </li>
        <li>
            Led successful adoption of scrum methodology.
            Implemented agile principles to enhance team
            efficiency, improve communication, and streamline product development processes.
        </li>
        <li>
            Spearheaded performance improvements initiatives of mission-critical production software.
        </li>
        <li>
            Helped design and oversaw development of system that keeps ERP data and non-ERP data aligned.
        </li>
    </ul>

    <b>PhD Researcher</b>
    <ul>
        <li>
            Contributed to the field of phytopathology with original research that deepened understanding of
            host-pathogen interaction.
            <ul>
                <li>
                    <a
                        href="https://www.frontiersin.org/journals/microbiology/articles/10.3389/fmicb.2022.797234/full">
                        Time Is of the Essence—Early Activation of the Mevalonate Pathway in Apple Challenged With Gray Mold Correlates With Reduced Susceptibility During Postharvest Storage
                    </a>
                </li>
                <li>
                    <a
                        href="https://www.sciencedirect.com/science/article/abs/pii/S0304423819307587">
                        Exploratory study on postharvest pathogens of ‘Nicoter’ apple in Flanders (Belgium)
                    </a>
                </li>
                <li>
                    <a
                        href="https://bsppjournals.onlinelibrary.wiley.com/doi/full/10.1111/ppa.13097">
                        Size does matter – susceptibility of apple for grey mould is affected by cell size
                    </a>
                </li>
                <li>
                    <a
                        href="https://www.sciencedirect.com/science/article/abs/pii/S0168160517305251">
                        To disinfect or not to disinfect in postharvest research on the fungal decay of apple?
                    </a>
                </li>
            </ul>
        </li>
        <li>
            Shared findings with the scientific community through publication of peer-reviewed research papers
            and presentations at conferences.
        </li>
        <li>
            Coached students working on their dissertation.
        </li>
    </ul>
</div>