<h1><span data-i18n="skills.my_skills">Achievements</span></h1>

<div>
    <ul>
        <li>
            <b>Senior Product Analyst</b>
            <ul>
                <li>
                    Leading a dynamic cross-functional development team.
                    Coordinating collaborative efforts in order to achieve project milestones and deliver value.
                </li>
                <li>
                    Led successful adoption of scrum methodology.
                    Implemented agile principles to enhance team
                    efficiency, improve communication, and streamline product development processes.
                </li>
                <li>
                    Spearheaded performance improvements initiatives of mission-critical production software.
                </li>
                <li>
                    Helped design and oversaw development of system that keeps ERP data and non-ERP data aligned.
                </li>
            </ul>
        </li>
        <li>
            <b>PhD Researcher</b>
            <ul>
                <li>
                    Contributed to the field of phytopathology with original research that deepened understanding of
                    host-pathogen interaction.
                </li>
                <li>
                    Shared findings with the scientific community through publication of peer-reviewed research papers
                    and presentations at conferences.
                </li>
                <li>
                    Coached students working on their dissertation.
                </li>
            </ul>
        </li>
    </ul>
</div>